*{margin: 0;
  padding: 0;}

  #topImgContainer{
    overflow: hidden;
    height: 500px;
  }

  #topSlider{
    height: 500px;
    width: 100%;
    display: inline;
    overflow: hidden;
  }

  .topImg{
    width: 500px;
    height: auto;
    list-style: none;
    flex-direction: row;
    display: inline-flex;
    flex-wrap: nowrap;
    
    
    
    
   
    
  }

  .topImg img {
    width: 500px;
    height: auto;
    
  } 