*{margin: 0;
  padding: 0;}

  #topImgContainer{
    overflow: hidden;
  }

  #topSlider{
    height: 500px;
    width: 100%;
    
    display: flex;
    
  }

  #topSlider img{
    width: 500px;
    height: auto;
   
    
  }